.content {
  display: flex;
  flex-wrap: wrap;
}

.heading {
  text-align: center;
  font-family: Starwars;
  font-weight: 100;
  margin: 2px 0;
}

.headingLight {
  composes: heading;
  color: var(--mainCyan);
}

.headingDark {
  composes: heading;
  color: var(--mainYellow);
}

.subheading {
  composes: heading;
}

.subheadingLight {
  composes: subheading;
}

.subheadingDark {
  composes: subheading;
  color: var(--mainCyan);
}

.leftBlock {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 1rem;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 1rem;
}

.chart {
  background-color: black;
}

.chartWrapper {
  display: flex;
  justify-content: center;
}

.captionLight {
  fill: var(--mainCyan);
  margin: 10px;
}

.captionDark {
  fill: var(--mainYellow);
  margin: 10px;
}

.dot {
  r: 5;
  -webkit-transition: r 0.2s;
  -o-transition: r 0.2s;
  transition: r 0.2s;
}

.dot:hover {
  stroke: #bbb;
  r: 8;
}

.dotsLight {
  composes: dot;
  fill: var(--mainYellow);
}

.dotsDark {
  composes: dot;
  fill: var(--mainCyan);
}

.scales {
  fill: #000;
  stroke: #333;
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .rightBlock {
    margin-left: 0;
    margin-top: 10px;
  }

  .leftBlock {
    align-items: center;    
    margin-right: 0;
    margin-top: 10px;
  }
}
