:root {
  --mainCyan: #4bd5ee;
  --mainBlack: #000;
  --mainWhite: #fff;
  --mainYellow: #ffe300;
  --lightBorder: #e8eaed;
  --darkBorder: #3c4858;
  --dark: #333;
  --lightText: #4e5b6e;
  --darkText: #abb1ba;
}
