@import './colors.css';

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  padding: unset;
  margin: unset;
}

a:visited {
  text-decoration: none;
}

main {
  width: 80vw;
  margin: auto;
  margin-top: 1rem;
}

@font-face {
  font-family: 'Starwars';
  src: local('STARWARS'),
    url(../fonts/STARWARS.ttf) format('truetype');
}

@media screen and (min-width: 1500px) {
  main {
    width: 65vw;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 90vw;
  }
}